.module{
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    width: auto;
    margin-top: 20px;
    border:2px solid whitesmoke;
    border-radius: 5px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.part1 {
    margin-right: 200px;
    display: inline;
}

.part2 {
    display: inline;
    margin-right: 60px;
}
.gap{
    margin-left: 1.5cm;
    margin-right: 1.5cm;
    width: auto;
    margin-top: 20px;
    border:2px solid whitesmoke;
    border-radius: 5px;
    height: auto;
    /*padding-top: 10px;*/
    padding-bottom: 10px;
}

.input{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    height: 20px;
    margin-bottom: 15px;
}

.topic{
    width: auto;
    height: 30px;
    padding-top: 10px;
    background-color: whitesmoke;
    padding-left: 10px;
    padding-bottom: 5px;
}

.li1{
    padding-left: 50px;
}

.text{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width:900px;
    height:100px;
}

#button{
    margin-top: 20px;
    margin-left: 500px;
    margin-bottom: 10px;
    background-color: dodgerblue;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}



